# Merge the movies and and the oscars lists.

In [2]:
import pandas as pd

In [4]:
movies = pd.read_csv('../results/movies_df.csv')
oscars = pd.read_csv('../results/oscars_df.csv')

In [5]:
movies_oscars = movies.merge(oscars, on="name", how='inner')
movies_oscars

,Unnamed: 0_x,title,year,genre,name,Unnamed: 0_y,nominations
0,18,Gladiator,2000,action,Russell Crowe,186,1
1,20,Gladiator,2000,action,Joaquin Phoenix,42,1
2,63,Inception,2010,action,Leonardo DiCaprio,12,1
3,71,Inception,2010,action,Marion Cotillard,10,1
4,72,Inglourious Basterds,2009,action,Brad Pitt,148,1
...,...,...,...,...,...,...,...
98,993,Interview With the Vampire,1994,horror,Brad Pitt,148,1
99,1013,Zombieland,2009,horror,Emma Stone,281,2
100,1018,American Psycho,2000,horror,Christian Bale,130,1
101,1022,American Psycho,2000,horror,Jared Leto,239,1
102,1027,From Dusk Till Dawn,1996,horror,George Clooney,264,1

In [6]:
movies_oscars.to_csv('movies_oscars.csv')