# Feature Engineering

## Genre with the most nominations:

In [ ]:
import pandas as pd

In [ ]:
movies_oscars = pd.read_csv('movies_oscars.csv')

In [ ]:
movies_oscars.groupby("genre")["nominations"].sum().sort_values(ascending=False)

## The genre with the most nominations is drama.

In [ ]:
movies_oscars = movies_oscars.groupby(["title", "genre"])["nominations"].sum()

In [ ]:
movies_oscars = movies_oscars.reset_index()
movies_oscars

                                                title   genre  nominations
0                                     American Beauty  comedy            4
1                                     American Beauty   drama            4
2                                  As Good As It Gets  comedy            5
3                                  As Good As It Gets   drama            5
4                                              Batman  action            5
5                                       Batman Begins  action            5
6                                            Big Fish   drama            2
7                                          Fight Club   drama            2
8                                        Finding Nemo  comedy            1
9                                        Forrest Gump  comedy            4
10                                       Forrest Gump   drama            4
11                                          Gladiator  action            2
12                                          Gladiator   drama            2
13                                         Home Alone  comedy            1
14                                          Inception  action            2
15                 Indiana Jones and the Last Crusade  action            1
16               Indiana Jones and the Temple of Doom  action            1
17                               Inglourious Basterds  action            3
18                               Inglourious Basterds  comedy            3
19                                  Life Is Beautiful  comedy            1
20                                  Life Is Beautiful   drama            1
21                                       Men in Black  action            2
22                                       Men in Black  comedy            2
23                                Million Dollar Baby   drama            3
24                                     Monsters, Inc.  comedy            1
25                                       Moulin Rouge   drama            2
26                                       Mystic River   drama            4
27  Pirates of the Caribbean: The Curse of the Bla...  action            1
28  Pirates of the Caribbean: The Curse of the Bla...  comedy            1
29                                       Pretty Woman  comedy            1
30                                Requiem for a Dream   drama            3
31                                   Schindler's List   drama            1
32                                            Shrek 2  comedy            1
33                                           Sin City  action            1
34                                             Snatch  comedy            2
35                                   The Big Lebowski  comedy            3
36                                The Bourne Identity  action            1
37                The Curious Case of Benjamin Button   drama            4
38                                    The Dark Knight  action            6
39                                    The Dark Knight   drama            6
40                                       The Departed  action            4
41                                       The Departed   drama            4
42                                      The Lion King  comedy            2
43                                      The Lion King   drama            2
44                                        The Pianist   drama            1
45                           The Shawshank Redemption   drama            2
46                                            Titanic   drama            3
47                                          Toy Story  comedy            2
48                                        Toy Story 2  comedy            2
49                                        Toy Story 3  comedy            2
50                                                 Up  comedy            1
51                                     V for Vendetta  action            1
52                                              X-Men  action            2

## Mean of nominations by genre.

In [ ]:
movies_oscars.groupby("genre")["nominations"].mean()

genre
action    2.466667
comedy    2.052632
drama     2.894737
Name: nominations, dtype: float64

# Nomination ratio by movie.

In [ ]:
movies_oscars["ratio_nominations"] = movies_oscars.groupby("genre")["nominations"].transform(lambda x: x/x.mean())
movies_oscars

,title,genre,nominations,ratio_nominations
0,American Beauty,comedy,4,1.948718
1,American Beauty,drama,4,1.381818
2,As Good As It Gets,comedy,5,2.435897
3,As Good As It Gets,drama,5,1.727273
4,Batman,action,5,2.027027
5,Batman Begins,action,5,2.027027
6,Big Fish,drama,2,0.690909
7,Fight Club,drama,2,0.690909
8,Finding Nemo,comedy,1,0.487179
9,Forrest Gump,comedy,4,1.948718
10,Forrest Gump,drama,4,1.381818
11,Gladiator,action,2,0.810811
12,Gladiator,drama,2,0.690909
13,Home Alone,comedy,1,0.487179
14,Inception,action,2,0.810811
15,Indiana Jones and the Last Crusade,action,1,0.405405
16,Indiana Jones and the Temple of Doom,action,1,0.405405
17,Inglourious Basterds,action,3,1.216216
18,Inglourious Basterds,comedy,3,1.461538
19,Life Is Beautiful,comedy,1,0.487179
20,Life Is Beautiful,drama,1,0.345455
21,Men in Black,action,2,0.810811
22,Men in Black,comedy,2,0.974359
23,Million Dollar Baby,drama,3,1.036364
24,"Monsters, Inc.",comedy,1,0.487179
25,Moulin Rouge,drama,2,0.690909
26,Mystic River,drama,4,1.381818
27,Pirates of the Caribbean: The Curse of the Bla...,action,1,0.405405
28,Pirates of the Caribbean: The Curse of the Bla...,comedy,1,0.487179
29,Pretty Woman,comedy,1,0.487179
30,Requiem for a Dream,drama,3,1.036364
31,Schindler's List,drama,1,0.345455
32,Shrek 2,comedy,1,0.487179
33,Sin City,action,1,0.405405
34,Snatch,comedy,2,0.974359
35,The Big Lebowski,comedy,3,1.461538
36,The Bourne Identity,action,1,0.405405
37,The Curious Case of Benjamin Button,drama,4,1.381818
38,The Dark Knight,action,6,2.432432
39,The Dark Knight,drama,6,2.072727
40,The Departed,action,4,1.621622
41,The Departed,drama,4,1.381818
42,The Lion King,comedy,2,0.974359
43,The Lion King,drama,2,0.690909
44,The Pianist,drama,1,0.345455
45,The Shawshank Redemption,drama,2,0.690909
46,Titanic,drama,3,1.036364
47,Toy Story,comedy,2,0.974359
48,Toy Story 2,comedy,2,0.974359
49,Toy Story 3,comedy,2,0.974359
50,Up,comedy,1,0.487179
51,V for Vendetta,action,1,0.405405
52,X-Men,action,2,0.810811

### Ratio by nominations.

In [ ]:
movies_oscars.nlargest(3, columns="ratio_nominations")

                 title   genre  nominations  ratio_nominations
2   As Good As It Gets  comedy            5           2.435897
38     The Dark Knight  action            6           2.432432
39     The Dark Knight   drama            6           2.072727

In [ ]:
movies = pd.read_csv('movies.csv')

In [ ]:
movies[movies['title']=='As Good As It Gets']

                   title  year   genre              name
672   As Good As It Gets  1997  comedy    Jack Nicholson
673   As Good As It Gets  1997  comedy
674   As Good As It Gets  1997  comedy        Helen Hunt
675   As Good As It Gets  1997  comedy
676   As Good As It Gets  1997  comedy      Greg Kinnear
677   As Good As It Gets  1997  comedy
678   As Good As It Gets  1997  comedy  Cuba Gooding Jr.
679   As Good As It Gets  1997  comedy
680   As Good As It Gets  1997  comedy      Skeet Ulrich
681   As Good As It Gets  1997  comedy
682   As Good As It Gets  1997  comedy    Shirley Knight
683   As Good As It Gets  1997  comedy
684   As Good As It Gets  1997  comedy       Jesse James
685   As Good As It Gets  1997  comedy
686   As Good As It Gets  1997  comedy   Lawrence Kasdan
1201  As Good As It Gets  1997   drama    Jack Nicholson
1202  As Good As It Gets  1997   drama
1203  As Good As It Gets  1997   drama        Helen Hunt
1204  As Good As It Gets  1997   drama
1205  As Good As It Gets  1997   drama      Greg Kinnear
1206  As Good As It Gets  1997   drama
1207  As Good As It Gets  1997   drama  Cuba Gooding Jr.
1208  As Good As It Gets  1997   drama
1209  As Good As It Gets  1997   drama      Skeet Ulrich
1210  As Good As It Gets  1997   drama
1211  As Good As It Gets  1997   drama    Shirley Knight
1212  As Good As It Gets  1997   drama
1213  As Good As It Gets  1997   drama       Jesse James
1214  As Good As It Gets  1997   drama
1215  As Good As It Gets  1997   drama   Lawrence Kasdan

### Movie with the greatest percentage difference compared to the average for its genre is As Good as it Gets (1997).

In [ ]:
movies_oscars.nsmallest(3, columns="ratio_nominations")

                title  genre  nominations  ratio_nominations
20  Life Is Beautiful  drama            1           0.345455
31   Schindler's List  drama            1           0.345455
44        The Pianist  drama            1           0.345455

### Films with lower percentages compared to the average for their genre are The Pianist, Schindler's List and Life is Beautiful.